body, html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.ratio {
  background-color: white;
  width: 100vw;
  height: calc(9/16 * 100vw);
  max-width: calc(16/9 * 100vh);
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

canvas {
  position: absolute;
}

.interface {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interface * ::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}

.interface * ::selection {
  background-color: rgba(0, 0, 0, 0);
}

.interface .creator {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 100%;
  border: solid 1px grey;
  background-color: #ffe1badc;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: default;
}

.interface .creator > p {
  height: 30px;
  border-bottom: solid 1px grey;
  margin: 0;
  background-color: #1db3da;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  padding-top: 3px;
}

.interface .creator > select {
  margin: 5px;
}

.interface .creator > select:focus {
  outline: none;
}

.interface .creator__picker {
  height: calc(100% - 105px - 20px);
  overflow-y: scroll !important;
  border-bottom: solid 1px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.interface .creator__picker .container {
  border: solid 1px grey;
  padding: 10px;
  border-radius: 3px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.interface .creator__picker .container p {
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

.interface .creator__picker .container img {
  width: 80px;
}

.interface .creator__picker .container:hover {
  background-color: rgba(255, 255, 255, 0.384);
}

.interface .creator__option {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface .creator__option img {
  width: 40px;
  padding: 5px;
  border: solid 1px grey;
  background-color: white;
  cursor: pointer;
}

.interface .creator__option p {
  width: 45px;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
}

.interface .creator__option .select {
  border: solid 2px black;
}

.interface .creator--second {
  margin-left: calc(100% - 400px);
}

.interface .creator__settings {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 175px - 20px);
  padding: 10px;
  overflow-y: scroll !important;
  border-bottom: solid 1px grey;
}

.interface .creator__settings label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px grey;
  padding: 10px 0;
  width: 100%;
}

.interface .creator__settings label p {
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

.interface .creator__settings label img {
  width: 50px;
  cursor: pointer;
  margin: 10px;
}

.interface .creator__settings label input {
  width: 40px;
}

.interface .creator__settings label select {
  margin: 5px 0;
}

.interface .normal {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interface .normal__info {
  padding: 10px;
}

.interface .normal__info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.interface .normal__info > div img {
  height: 45px;
  margin-right: 10px;
}

.interface .normal__info__life {
  border-radius: 4px;
  height: 20px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.301);
  border: solid 1px black;
}

.interface .normal__info__life__current {
  background-color: red;
  height: 100%;
  width: 50%;
}

.interface .normal__info__coin {
  font-size: 25px;
  margin: 0;
  margin-left: 5px;
  font-weight: 900;
  color: #ffa835;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.096);
}

.interface .normal__gun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
}

.interface .normal__gun__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.interface .normal__gun__bullets__container img {
  height: 50px;
}

.interface .normal__gun__bullets__container p {
  position: absolute;
  margin-top: -38px;
  padding-left: 18px;
  z-index: 1;
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.582);
}

.interface .normal__gun__current img {
  width: 50px;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 50%;
  border: solid 1px black;
  padding: 5px;
}

.interface .normal__spell {
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
}

.interface .normal__spell__container > img {
  height: 100px;
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.747);
  -webkit-box-shadow: rgba(100, 100, 111, 0.555) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.555) 0px 7px 29px 0px;
}

.interface .normal__spell__container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.interface .normal__spell__container__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface .normal__spell__container__info div img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=index.css.map */